body {
    background-color: purple;
    color: peachpuff;
}
h2 {
    color: coral;
}
div#catList{
    background-color: firebrick;
}
.jellyBeans {
    color: aquamarine;
}

a {
    color: yellow;
}

